THESEUS_HEALTH_TIMEOUT=🦄
THESEUS_KAFKA_HOST=🦄
THESEUS_KAFKA_PORT=🦄
THESEUS_KAFKA_UI_HOST=🦄
THESEUS_KAFKA_UI_PORT=🦄
THESEUS_POSTGRES_HOST=🦄
THESEUS_POSTGRES_PORT=🦄
POSTGRES_DB=🦄
POSTGRES_USER=🦄
POSTGRES_PASSWORD=🦄
