HEALTH_TIMEOUT=
KAFKA_HOST=
KAFKA_PORT=
KAFKA_UI_HOST=
KAFKA_UI_PORT=
PG_DB=
PG_PORT=
PG_HOST=
PG_USER=
PG_PASS=
PG_POOL_MAX=
TIME_SCALE=
STARTER_CREDITS=
JWT_TTL=
JWT_SECRET=
GATEWAY_PORT=
GATEWAY_REPLY_TIMEOUT=
